---
http_interactions:
- request:
    method: get
    uri: https://www.devrant.io/api/devrant/rants?app=3&sort=algo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"rants":[{"id":403092,"text":"Nothing is more permanent
        than temporary fix.\nMarps.. \ud83d\ude02\ud83d\ude02","num_upvotes":52,"num_downvotes":1,"score":52,"created_time":1485607005,"attached_image":"","num_comments":2,"tags":["rant","admin"],"vote_state":0,"edited":false,"user_id":400332,"user_username":"avicoder","user_score":125,"user_avatar":{"b":"d55161","i":"v-11_c-3_b-5_g-m_9-1_1-3_16-1_3-12_8-1_7-1_5-1_12-3_6-21_2-18_11-2_4-1.jpg"}},{"id":403169,"text":"Me
        bug fixing","num_upvotes":72,"num_downvotes":3,"score":72,"created_time":1485612848,"attached_image":{"url":"https:\/\/img.devrant.io\/devrant\/rant\/r_403169_M65fk.gif","width":500,"height":263,"frame":"https:\/\/img.devrant.io\/devrant\/rant\/frame_r_403169_M65fk.jpg"},"num_comments":0,"tags":["bug","fix","bug
        fixing","problem"],"vote_state":0,"edited":false,"user_id":275781,"user_username":"Aaronmacaron","user_score":734,"user_avatar":{"b":"f99a66","i":"v-11_c-3_b-3_g-m_9-1_1-1_16-6_3-6_8-1_7-1_5-1_12-1_6-7_2-31_4-1.jpg"}},{"id":403045,"text":"BMW
        car using php..","num_upvotes":94,"num_downvotes":2,"score":94,"created_time":1485604664,"attached_image":{"url":"https:\/\/img.de[...]
- request:
    method: get
    uri: https://www.devrant.io/api/devrant/rants?app=3&skip=20&sort=algo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"rants":[{"id":403127,"text":"!rant\n\nSo I''m looking
        for advice.\nI''m 16 and I''d like to eventually work at some sort of tech
        star[...]
