---
http_interactions:
- request:
    method: get
    uri: https://www.devrant.io/api/devrant/rants?app=3&sort=algo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"rants":[{"id":407039,"text":"Performance Optimization:
        when you spend 3 days, to improve site loading by 0.5 secs.","num_upvotes":62,"num_downvotes":0,"score":62,"created_time":1485872191,"attached_image":"","num_comments":7,"tags":["performance","website"],"vote_state":0,"edited":false,"user_id":22496,"user_username":"tirthaguha","user_score":740,"user_avatar":{"b":"7bc8a4","i":"v-11_c-3_b-1_g-m_9-1_1-2_16-1_3-7_8-1_7-1_5-1_12-2_6-57_2-36_15-17_11-2_4-1_19-1.jpg"}},{"id":406934,"text":"What
        is machine learning?","num_upvotes":124,"num_downvotes":0,"score":124,"created_time":1485866792,"attached_image":{"url":"https:\/\/img.devrant.io\/devrant\/rant\/r_406934_g38eP.jpg","width":800,"height":800},"num_comments":17,"tags":["machine
        learning"],"vote_state":0,"edited":false,"user_id":178420,"user_username":"bdhobare","user_score":5388,"user_avatar":{"b":"69c9cd","i":"v-11_c-3_b-6_g-m_9-1_1-2_16-10_3-11_8-1_7-1_5-2_12-2_6-11_10-5_2-14_18-4_4-2_19-3.jpg"}},{"id":407013,"text":"Fake
        windows update + f11 = colleague complains all day!","num_upvotes":60,"num_downvotes":0,"score":60,"created_time":1485871074,"attached_image":{"url":"https:\/\/img.devrant.io\/devrant\/rant\/r_[...]
- request:
    method: get
    uri: https://www.devrant.io/api/devrant/rants?app=3&skip=20&sort=algo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"rants":[{"id":407050,"text":"You got to love linux.\r\nBut
        linux doesn''t love anyone else.\n\nSource: https:\/\/bash.cyberciti.biz\/guide\/...","num_upvotes":19,"num_downvotes":0,"score":19,"created_time":1485872619,"attached_image":{"url":"https:\/\/img.devrant.io\/devrant\/rant\/r_407050_53Mgk.jpg","width":800,"height":952},"num_comments":2,"tags":["violence","linux","bash"],"vote_state":0,"edited":false,"links":[{"type":"url","url":"https:\/\/bash.cyberciti.biz\/guide\/Putting_functions_in_background","short_url":"https:\/\/bash.cyberciti.biz\/guide\/...","title":"https:\/\/bash.cyberciti.biz\/guide\/...","start":69,"end":105,"special":1}],"special":true,"user_id":384768,"user_username":"theofanis","user_score":125,"user_avatar":{"b":"2a8b9d","i":"v-11_c-3_b-4_g-m_9-1_1-1_16-11_3-6_8-1_7-1_5-1_12-1_6-2_10-1_2-19_15-10_11-2_4-1.jpg"}},{"id":406932,"text":"When
        I call another dev and he give me another dev''s number and the second one
        give me another and that one gives another num. :\nI feel like \"ERR_TOO_MANY_REDIRECTS\"","num_upvotes":18,"num_downvotes":1,"score":18,"created_time":1485866452,"attached_image":"[...]
